##################################################
# BANCO DE DADOS
##################################################

DB_HOST=localhost
DB_PORT=5432
DB_NAME=mercado_sentimento
DB_USER=postgres
DB_PASSWORD=

##################################################
# NEWS API
##################################################

NEWS_API_KEY=

NEWS_LANGUAGE=pt
NEWS_PAGE_SIZE=10

##################################################
# KAFKA
##################################################

KAFKA_SERVER=localhost:9092

TOPIC_NEWS=noticias
TOPIC_PRICE=precos

##################################################
# SCHEDULER
##################################################

INTERVALO_MINUTOS=1

##################################################
# YAHOO FINANCE
##################################################

YFINANCE_INTERVAL=1m

##################################################
# LOGS
##################################################

LOG_LEVEL=INFO

##################################################
# APLICAÇÃO
##################################################

APP_NAME=Monitoramento Mercado Sentimento