# ==========================
# Variáveis de ambiente
# ==========================

.env

# ==========================
# Ambiente virtual
# ==========================

.venv/
venv/

# ==========================
# Cache Python
# ==========================

__pycache__/
*.pyc

# ==========================
# Dados temporários
# ==========================

data/raw/
data/processed/

# ==========================
# Banco SQLite (caso exista)
# ==========================

*.db

# ==========================
# Jupyter
# ==========================

.ipynb_checkpoints/

# ==========================
# Logs
# ==========================

logs/
*.log

# ==========================
# Sistema
# ==========================

.DS_Store
Thumbs.db

# ==========================
# VS Code
# ==========================

.vscode/